/* ----------------B O T T O M--P A R T---------------- */

:root {
  --blur: blur(16px);
  --glass: rgba(49, 2, 53, 0.55);
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: var(--blur);
  background-color: var(--glass);
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.icon-container {
  flex: 1;
}

.circular-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0 40px rgb(247, 0, 200);
}

.links-container {
  flex: 3;
  text-align: right;
}

.links-container ul {
  position: absolute;
  list-style-type: none;
  /* padding-right: 0px; */
  display: flex;
  justify-content: center;
  margin: 0;
  bottom: 20px; /* Align slightly above the bottom of the page */
  left: 65%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust position to truly center */
  font-family: "MPLUSCodeLatin", monospace;
  letter-spacing: 1px;
  gap: 30px;
  width: max-content;
}

.links-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.links-container ul li {
  display: inline-block;
}

.links-container ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.links-container ul li a:hover {
  text-decoration: underline;
}
