/* ----------------T O P--P A R t---------------- */

:root {
  --blur: blur(16px);
  --glass: rgba(49, 2, 53, 0.55);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: var(--blur);
  background-color: var(--glass);
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  font-family: "Betatron", monospace;
  animation: slideInFromTop 0.6s ease-out;
  width: 100%;
}

.bot-icon-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.circular-image {
  width: 1rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 40px rgb(247, 0, 200);
}

h1 {
  /* big text next to logo */
  margin: 0;
  /* position: absolute; Use absolute positioning */
  /* top: 10; Align to the top of the page */
  /* left: 80px; Align to the left of the page */
}

.nav-toggle {
  display: none; /* Hide toggle button by default */
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding-right: 0px;
  width: 100%;
  transform: translateX(-10%); /* Adjust position to truly center */
  font-family: "Poppins-Bold", monospace;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  transition: transform 0.3s, font-size 0.2s; /* Smooth transition for hover effects */
}

nav ul li a img.icon {
  margin-right: 8px; /* space between icon and text */
  width: 20px; /* icon width */
  height: 20px; /* icon height */
}

nav ul li:not(:last-child) a:hover {
  transform: scale(1.1) rotate(5deg);
  font-size: 1.1em; /* Increase font size slightly */
}
.add-bot-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: min-content;
  padding: 0.6rem;
  color: black;
  background-color: aliceblue;
  border-radius: 50px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Initial box-shadow state */
  transition: width 0.5s, box-shadow 0.8s; /* Define the properties to transition and the duration */
  overflow: hidden; /* Hide the overflow content */
  white-space: nowrap; /* Prevent text wrapping */
}

.add-bot-btn a span.full-bot-name {
  display: none; /* Initially hide the full bot name */
  transition: opacity 0.8s;
}

.add-bot-btn a:hover {
  width: 220px; /* Increase width on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Box shadow effect */
}

.add-bot-btn a:hover span.full-bot-name {
  display: inline; /* Show the full bot name on hover */
  margin: 0 5px; /* Optional: Add a little space between "Add" and the full bot name */
}

