:root {
  --blur: blur(16px);
  --glass: rgba(49, 2, 53, 0.55);
}

.bottom-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: var(--blur);
  background-color: var(--glass);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 95%;
    border: 3px solid rgba(208, 0, 255, 0.868);

  height: min-content;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 0 1rem;
}

.links-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Bold", monospace;
  gap: 20px;
}

.links-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.links-container li {
  display: inline-block;
}

.links-container li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.links-container li a:hover {
  text-decoration: underline;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .bottom-part {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .links-container {
    flex-direction: column;
    gap: 10px;
  }

  .links-container li {
    display: block;
  }
}