/* ----------------B O T T O M--P A R T---------------- */

:root {
  --blur: blur(16px);
  --glass: rgba(49, 2, 53, 0.55);
}

.bottom-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: var(--blur);
  background-color: var(--glass);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 95%;
  height: min-content;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 0 1rem;
}

.links-container {
  /* position: absolute; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-Bold", monospace;
  gap: 20px;
}

.links-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.links-container li {
  display: inline-block;
}

.links-container li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.links-container li a:hover {
  text-decoration: underline;
}
