/* -------------------MOBILE LAYOUT-------------------- */

@media only screen and (max-width: 1200px) {
  body {
    background-position: center;
  }
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    height: fit-content;
    font-family: "Poppins-Bold", monospace;
  }

  .circular-image {
    display: none;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(188, 102, 212, 0.247);
    padding: 20px;
    gap: 20px;
    display: none; /* Hide menu by default */
    width: min-content; /* Adjust width to fit screen size */
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding is included in width */
  }

  .nav-toggle {
    display: block; /* Show toggle button on mobile */
  }

  nav ul.active {
    display: flex; /* Show menu when active */
    z-index: 1000;
  }

  @media (max-width: 720px) {
    nav ul {
      height: 300%; /* BG size */
      width: 300%; /* BG size */
      padding: 10px;
      gap: 20px;
      position: relative;
      z-index: 100; /* Ensure the menu is above all other elements */
      top: 13px;
    }
  }

  main {
    padding: 1rem;
    font-size: 1.2rem;
    left: 0;
  }

  .transparent-box {
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    transform: translateY(0);
    margin: 1rem auto;
    padding: 1rem;
  }

  h1 {
    margin: 0;
    position: relative;
    bottom: 1px;
    left: 0px;
  }

  .bottom-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: min-content;
    width: 100%;
    border-radius: 0;
    margin: 0;
    width: min-content;
  }
  .link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 95%;
  }

  .circular-icon {
    display: block;
  }

  :root {
    --box-width: auto;
    --box-height: auto;
  }

  .curved-box {
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: var(--box-width);
    height: var(--box-height);
    box-shadow: 0 0 10px #ea00ff;
    animation: boxTextAnimation 1.2s ease-in-out;
    position: relative;
    z-index: 10; /* Ensure the menu is above all other elements */
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #ff3377 10%,
        #fe53bb 45%,
        #5b51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    left: 20%;
    top: 1%;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../../assets/images/backgrounds/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative; /* Ensure the pseudo-element is positioned correctly */
  }
}
